<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:firewall="http://wixtoolset.org/schemas/v4/wxs/firewall">
      
  <!-- version number is mayor.minor.zero.uxplayversion -->
  <Package
    Id="uxplaywindows"
    Name="uxplay-windows"
    Manufacturer="leapbtw"
    Version="2.1.4.1737"
    UpgradeCode="00000eaf-dcca-458f-ab77-aaef11ce4ba8"
    Language="1033"
    Scope="perMachine">

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of uxplay-windows is already installed." />
    <WixVariable Id="WixUILicenseRtf" Value="./release/LICENSE.rtf" />
    <MediaTemplate EmbedCab="yes" />

    <ui:WixUI Id="WixUI_FeatureTree" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLDIR" Name="uxplay-windows" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="uxplay-windows" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentGroupRef Id="AppExe" />
      <ComponentRef Id="EngineComponent" />
      <ComponentRef Id="BonjourResponderComponent" />
      <Feature
        Id="DesktopShortcuts"
        Title="Desktop Shortcut"
        Description="Create a shortcut on the desktop"
        Level="1">
        <ComponentRef Id="DesktopShortcutComponent" />
      </Feature>
    </Feature>

    <ComponentGroup Id="AppFiles" Directory="INSTALLDIR">
      <Files Include="./release/**">
        <Exclude Files="**/*.pdb;**/uxplay-windows.exe;**/uxplay-engine.exe;**/mDNSResponder.exe" />
      </Files>
    </ComponentGroup>

    <ComponentGroup Id="AppExe" Directory="INSTALLDIR">
      <Component Id="AppExeComponent"
                 Guid="e5f23b9b-b726-4738-85ba-63892cff1924">
        <File Id="AppExeFile"
              Source="./release/uxplay-windows.exe"
              KeyPath="yes">
          <Shortcut
            Name="uxplay-windows"
            Directory="ProgramMenuFolder"
            WorkingDirectory="INSTALLDIR"
            Advertise="no" />
        </File>
      </Component>
    </ComponentGroup>

    <Component Id="EngineComponent"
               Guid="909450c4-0a6d-4475-a94f-1e2205245379"
               Directory="INSTALLDIR">
      <File Id="EngineFile"
            Source="./release/uxplay-engine.exe"
            KeyPath="yes">
        <firewall:FirewallException
          Id="UxPlayEngineFirewallException"
          Name="uxplay-windows AirPlay engine"
          Description="Allow AirPlay connections from the local network"
          Profile="all"
          Scope="localSubnet" />
      </File>
    </Component>

    <Component Id="BonjourResponderComponent"
               Guid="2bb1f278-3529-4e49-965a-d33dd76158db"
               Directory="INSTALLDIR">
      <File Id="BonjourResponderFile"
            Source="./release/mDNSResponder.exe"
            KeyPath="yes" />
      <firewall:FirewallException
        Id="BonjourFirewallException"
        Name="uxplay-windows Bonjour discovery (UDP 5353)"
        Description="Allow Bonjour multicast discovery from the local network"
        Port="5353"
        Protocol="udp"
        Profile="all"
        Scope="localSubnet" />
    </Component>

    <StandardDirectory Id="DesktopFolder" />

    <Component Id="DesktopShortcutComponent"
               Guid="63bb69df-4292-4053-848c-fb369bed6273"
               Directory="DesktopFolder">
      <RegistryValue
        Root="HKLM"
        Key="Software\leapbtw\uxplay-windows"
        Name="DesktopShortcut"
        Type="integer"
        Value="1"
        KeyPath="yes" />
      <Shortcut
        Name="uxplay-windows"
        Directory="DesktopFolder"
        Target="[INSTALLDIR]uxplay-windows.exe"
        WorkingDirectory="INSTALLDIR"
        Advertise="no" />
    </Component>

  </Package>
</Wix>
